/* Remove default html margin, padding and assign box-sizinz as border-box to all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global variable definitions */
:root {
  --header-footer: #82b4cf;
  --grey: rgb(74, 99, 114);
  --pink: rgb(213, 182, 182);
  --about-me-work-border: #c3588a;
  --border-color: rgba(116, 193, 131, 0.8);
}

/* Header */
header {
  display: flex; /* Flex container to display the child elements as flex with space between and wrap */
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  background-color: var(--header-footer); 
}

header nav ul {
  display: flex; /* Flex container to display the child elements as flex with flex-end, wrap, and align the items in center */
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 0px;
}

header nav ul li {
  /*Viewport font-size to help with the responsiveness of the web page */
  font-size: 1.8vw;
  /* Align nave element to closely match the header h1 element*/
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  
}

/* Remove text anchor default decoreations and apply specific styles individulally*/
header a {
  /* Longer bootom border under the element as mockup */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid var(--grey);
  color: var(--grey);
}
/* End of header code */

/* Start of body code */
body{
  background-color: rgb(165, 165, 178); /* Apply background to all of the body of the page */
  /* googleapis font family Karla */
  font-family: 'Martel', serif;
}
/* End of body code */

/* Start of footer code */
footer {
  /* Apply background to all of the body of the page */
  background-color: var(--header-footer); 
  color: var(--grey); /* Title color */
}

footer a {
  border-bottom: 2px solid var(--grey); /* Border bottom */
  color: var(--grey); /* anchor text color */
  font-size: 1.8vw; /* View port font-size to help with responsiveness */
  font-weight: bold;
}
/* End footer code */
/* End of Semantic code */

/* Start of hover effects on multiple classes */

/* Header nav hover */
.nav-effects a:hover{ 
  color: var(--grey);
  font-weight: bold;
  text-shadow: 0px 0px 20px var(--grey);
}

/* Work projects hover */
.work-grid-container div:hover{ /* Create the ilussion of a brighter image once hovered */
  mix-blend-mode: color-burn;
}

/* The ghost item is a cell that is invisible, this is intentional for training showcasing purposes. IT IS INTENTIONAL TO BE INVISIBLE :)*/
.work-grid-container .work-item-project.ghost-item:hover{ /* On over ghost item it will not reveal it! */
  opacity: 0;
}

/* Footer hover */
.footer-container a:hover{
  color: var(--grey);
  /*REMOVED - Zoom in effect with font-size 1.5vw
  Will revisit for next project iteration
  font-size: 2vw;*/
  font-weight: bold;
  text-shadow: 0px 0px 20px var(--grey);
}
/* End of hover effects on multiple classes */

/* Start of hero section with background */
.hero { /* Here section is a flex container */
  height: 300px;
  background-image: url("/Users/ianhinnenkamp/bootcamp/module-2-challenge/assets/images/Mountains.jpeg");

  background-size: cover; /* Image will cover the background */
  background-position:  100% 13%; /* Aligned the image to show the top of the tower*/

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row; /* Row type rather than column type to showcase usage */
  align-items: flex-end;
}

.hero-subtitle { /* Styling to the subtitle the Hero container */
  padding-bottom: 15px;
  padding-right: 15px;
}
/* End of hero section with background */



/* Start of FLEX CSS Main body code About Me*/
.about-me-wrapper { /* Flex wrapper */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}

.about-me-grid-container {/* CSS Grid */
  width: 80%; /* Contain the grid to a maximum of 80% of the flex wrapper */
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);  /* Create a 4X4 grid with the first column smaller than the others 3 */
  grid-template-rows: repeat(2, 1fr); /* 4 rows of equal size */
  gap: 10px 10px; /* Gap on x and y grid */
}

.about-me-item.about-me-title { /* Cell declarations for the title of the container */
  padding-top: 0px;
  font-size: 35px;
  grid-row: 1 / span 4;
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid var(--about-me-work-border);
}

.about-me-item.p1 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}

.about-me-item.p2 {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 3 / span 2;
}
/* End of FLEX CSS Main body code About me*/


/* Start of FLEX CSS Main body code Work projects*/
.work-wrapper { /* Flex wrapper */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;

}
.work-grid-container {/* CSS Grid */
  width: 80%;
  display: grid;
  /* Create a 4X8 grid. */
  grid-template-columns: 1fr repeat(3, 2fr); /* Create a 4X4 grid with the first column smaller than the others 3 */
  grid-template-rows: repeat(10, 1fr);
  gap: 10px 10px; /* Gap on x and y grid */
}

.work-item.work-title {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 9;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--about-me-work-border);
}

.work-item-project.challenge-1-refactor { /* Grid cells with embedded images */
  grid-column: 2 / span 2;
  grid-row: 1 / span 6;
  background-image: url("../images/challeng-1-refactor-code-smaller.JPG");
  background-size: cover; /* Allows the image to autosie to cover the container */
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.work-item-project.run-buddy {
  grid-column: 3 /span 1;
  grid-row: 7 / span 3;
  background-image: url("../images/run-buddy-project.JPG");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.work-item-project.password-generator {
  grid-column: 2 / span 1;
  grid-row: 7 / span 3; 
  /* Royalty free image */
  background-image: url("../images/password-generator.JPG");
  background-size: cover;
  /* Allow the background image to align */
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.work-item-project.web-api-code-quiz {
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
  /* Royalty free image */
  background-image: url("../images/web-api-code-quiz.JPG");
  background-size: 300px 200px, cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.work-item-project.work-day-scheduler {
  grid-column: 4 / span 1;
  grid-row: 4 / span 3;
  /* Royalty free image */
  background-image: url("../images/work-day-scheduler.JPG");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.work-item-project.project01-group07 {
  grid-column: 4 /span 1;
  grid-row: 7 / span 3;
  background-image: url("../images/project1-group07.JPG");
  background-size: cover;
  display: flex; /*Flex required to move the element as flex */
  align-items: flex-end; /*Allow text to be at center of grid*/
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

/* End of FLEX CSS Main body code Work projects*/


/* Start of footer class code */

/* CSS Flex/Grid Footer non-semantic Code */
.footer-wrapper { /* Flex container */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.footer-container { /* CSS Grid */
  width: 80%;
  display: grid;
  /*create a 4X3 grid. */
  grid-template-columns: 1fr repeat(3, 2fr); /* Create a 4X4 grid with the first column smaller than the others 3 */
  grid-template-rows: repeat(3,2fr); /* 3 rows of slighty biger size as a test */
  gap: 20px 20px; 
}

.footer-grid-item {
  text-align: center;
}

.footer-grid-item.contact-me {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 3;
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--grey);
}

.footer-grid-item.phone{
  grid-row: 2;
}

.footer-grid-item.email{
  grid-row: 2;
}

.footer-grid-item.git-hub{
  grid-row: 2;
}
/* End of footer class code */
/* End of CSS Flex/Grid Footer non-semantic Code */
