/* Remove default html margin, padding and assign box-sizing as border-box to all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establish CSS variables */
:root {
  --header-footer: #82b4cf;
  --grey: rgb(74, 99, 114);
  --pink: rgb(213, 182, 182);
  --about-me-app-border: #c3588a;
  --border-color: rgba(13, 14, 13, 0.8);
}

/* Header */
header {
  display: flex; /* Set to display as flex to allow the child elements to wrap */
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  background-color: var(--header-footer); 
}

header nav ul {
  display: flex; /* Set to display as flex to allow the child elements to wrap */
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-right: 0px;
}

header nav ul li {
  /*Viewport font-size adjusts the font-size to the width of the screen */
  font-size: 1.8vw;
  /* Align nav element to match the header h1 element*/
  padding: 10px 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

header a {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 2px solid var(--grey);
  color: var(--grey);
}

/* End of header code */

/* Start of body code */
body{
  background-color: rgb(165, 165, 178); /* Apply to the background of the page */
  font-family: 'Martel', serif;
}

.app-item-project:hover {  /* Allows images to size-increase when hovering */
    transform: scale(1.3);
}

.app-item-project {
    background-color: rgb(201, 169, 111);
}
/* End of body code */

/* Start of footer code */
footer {
  background-color: var(--header-footer); 
  color: var(--grey); /* Title color */
}

footer a {
  border-bottom: 2px solid var(--grey); /* Border bottom */
  color: var(--grey); /* anchor text color */
  font-size: 1.8vw; /* View port font-size to help with responsiveness */
  font-weight: bold;
}
/* End footer code */

/* Start of Main Body code: About-Me*/
.about-me-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;
}

.about-me-grid-container {/* CSS Grid for simpler formatting*/
  width: 80%; /* Contain the grid to a maximum of 80% of the flex wrapper */
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr);  /* Create a 4X4 grid with a smaller first column to allow space for "About Me" */
  grid-template-rows: repeat(2, 1fr); 
  gap: 10px 10px; /* Gap between grid spaces */
}

.about-me-item { /* Title container formatting */
  padding-top: 0px;
  font-size: 35px;
  grid-row: 1 / span 4;
  padding-right: 10px;
  text-align: right;
  border-right: 2px solid var(--about-me-app-border);
}

.about-me {
  padding-left: 10px;
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}
/* End of Main Body code: About me*/

/* Start of Main body code for applications*/
.app-wrap {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-top: 50px;

}
.app-grid-container {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr); /* Create a 4X4 grid to separate text from images */
  grid-template-rows: repeat(10, 1fr);
  gap: 10px 10px; 
}

.app-item.app-title {
  padding-top: 10px;
  font-size: 35px;
  grid-row: 1 / span 9;
  text-align: right;
  padding-right: 15px;
  border-right: 2px solid var(--about-me-app-border);
}

.project-1 {  /* Fits Horiseon image within container*/
    max-width: 100%;
    max-height: 100%;
}

.app-item-project.Horiseon { /* Grid cells with embedded images */
  grid-column: 2 / span 2;
  grid-row: 1 / span 6;
  display: flex; 
  flex-wrap: wrap;
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.app-item-project.A {
  grid-column: 3 /span 1;
  grid-row: 7 / span 3;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.app-item-project.B {
  grid-column: 2 / span 1;
  grid-row: 7 / span 3; 
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.app-item-project.C {
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.app-item-project.D {
  grid-column: 4 / span 1;
  grid-row: 4 / span 3;
  display: flex; 
  align-items: flex-end; 
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}

.app-item-project.E {
  grid-column: 4 /span 1;
  grid-row: 7 / span 3;
  display: flex; 
  align-items: flex-end;
  padding-left: 0px;
  padding-bottom: 15px;
  text-align: left;
  border: .25vw solid var(--border-color);
}
/* End of FLEX CSS Main body code app projects*/

/* Footer Code */
.footer { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.footer-container { 
  width: 80%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 2fr); /* Create a 4X4 grid for the same reasoning as the header */
  grid-template-rows: repeat(3,2fr);
  gap: 20px 20px; 
}

.footer-item.contact-me {
  font-size: 45px;
  grid-row: 1 / span 3;
  text-align: right;
  padding-right: 5px;
  border-right: 2px solid rgb(60, 58, 58);
}

.footer-item {
    text-align: center;
    grid-row: 2;
}

@media screen and (max-width: 768px) {
    header, footer {
      flex-direction: column;
    }
  
    .app-item-project {
        flex: 1 1 100%;
        max-width: 200%;
        flex-direction: column;
      }

    main {
      max-width: 1200px;
    }
}
/* End of footer class code */